@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.header {
  width: 100%;
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
  position: absolute;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__brandname {
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  font-weight: 400;
  margin-left: 5px;
}

.header-logo__brandname span {
  font-weight: 700;
}

.header-navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-navbar li{
  position: relative;
}

.header-navbar__item-link {
  line-height: 24px;
  margin-right: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF99;
  position: relative;
}

.header-navbar__item-link:before {
  content: "";
  position: absolute;
  bottom: -50px;
  width:0;
  height: 2px;
  background-color: #18CFAB;
  left: 0;
  transition: width 0.2s;
}

.header-navbar__item-link:hover:before {
  width: 100%;
}

.header-navbar__item-link:hover {
  color: #18CFAB;
}

.header-navbar__search {
  cursor: pointer;
}
.header-navbar__search:hover {
  filter: brightness(0) saturate(100%) invert(70%) sepia(74%) saturate(2069%) hue-rotate(117deg) brightness(96%) contrast(81%);
}

/* ======== HERO BLOCK STYLES ======== */

.hero-block {
  height: 100vh;
  background-image: url(../img/backgrounds/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  background-attachment: fixed;
}

.hero-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.hero-block__lead-text {
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.hero-block__title {
font-size: 78px;
font-weight: 700;
line-height: 1;
text-transform: uppercase;
margin-bottom: 22px;
}

.hero-block__title-note {
  font-size: 34px;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  color: #D4D4D4;
}

.hero-block-buttons {
  display: flex;
  position: absolute;
  bottom: 15%;
}

.explore-button {
  background-color: #18CFAB;
  margin-right: 25px;
}

.purchase-button {
  background: #00CBF6;
}

/* ======== PROPOSAL SECTION ========= */

.proposals-section {
  display: flex;
  height: 370px;
  width: 100%;
}

.proposals-section__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid #18CFAB;
  background-color: #1C2A33;
  color: #18CFAB;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.proposals-section__item:nth-child(2n){
  background-color: #18CFAB;
  border-top: 5px solid #fff;
  color: #fff;
}

.proposals-section__icon-wrapper {
  display: flex;
  height: 250px;
  justify-content: center;
}

.proposals-section__item-icon {
  object-fit: contain;
}

/* ======== SERVICE SECTION ========= */

.service-section {
  padding-top: 80px;
  padding-bottom: 90px;
}

.service-section__title {
  margin-bottom: 100px;
}

.service-section__title::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -22px;
  margin-left: 55px;
}

.service-section__title::after {
  content: "";
  position: absolute;
  width: 76px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -26px;
  margin-left: -140px;
}

.services {
  display: flex;
  margin-bottom: 23px;
}

.services-item {
  flex: 1;
  height: 70px;
}

.services-item.active {
  background-color: #18CFAB;
  color: #fff;
}

.services-item.active:hover {
  border: none;
}

.services-item.active::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #18CFAB;
  bottom: -10px;
  transform: rotate(45deg);
}

.services__info-content {
  display: none;
  min-height: 150px;
}

.services__info-content img{
  width: 190px;
  height: 140px;
}

.services__info-content.active {
  display: flex;
  align-items: center;
}

.services__item-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  margin-left: 25px;
  color: #777777;
}

/* ======== PURCHASE SECTION ========= */

.purchase-section {
  background-image: url(../img/backgrounds/main-section-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.purchase-section-container {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 125px;
  background: rgba(0,0,0,.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

.purchase-section__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #18CFAB;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.purchase-section__subtitle {
  line-height: 40px;
  text-align: center;
  color: #D8D8D8;
  margin-bottom: 60px;
}

.purchase-section__button {
  cursor: pointer;
}

/* ======== PORTFOLIO SECTION ========= */

.portfolio-section-container {
  width: 100%;
  padding-top: 95px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9EDEF;
}

.portfolio-section__title {
  margin-bottom: 96px;
}

.portfolio-section__title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -22px;
  margin-left: 130px;
}

.portfolio-section__title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -26px;
  margin-left: -200px;
}

.portfolio-section-divides {
  display: flex;
  min-height: 60px;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.portfolio-section-divides__item {
  min-width: 80px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #DADADA;
  background-color: #E9EDEF;
}

.portfolio-section-divides__item.active {
  border: 2px solid #18CFAB;
  color: #18CFAB;
}

.portfolio-section-divides__previews {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  margin-bottom: 70px;
}

.load-button {
  border: none;
  background-color: #18CFAB;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  gap: 15px;
  border-radius: 5px;
}

/* ======== NEWS SECTION ========= */

.news-section {
  padding-top: 80px;
  padding-bottom: 130px;
}

.news-section__title {
  margin-bottom: 100px;
}

.news-section__title:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -22px;
  margin-left: 80px;
}

.news-section__title:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -26px;
  margin-left: -175px;
}

.news-section__content {
  display: grid;
  grid-template-columns: repeat(4, 263px);
  column-gap: 35px;
  row-gap: 45px;
}

.news-section__content-item {
  position: relative;
}

.news-section__news-item img {
  width: 263px;
  height: 208px;
}

.news-section__news-item figcaption {
  font-size: 18px;
  line-height: 39px;
  font-weight: 700;
  margin-left: 25px;
  margin-top: 5px;
  color: #717171;
}

.news-section__item-notes {
  display: flex;
  position: relative;
  top: -15px;
}

.news-section__item-author {
  margin-left: 10px;
  position: relative;
}

.news-section__item-comments {
  margin-left: 20px;
}

.news-section__item-author, .news-section__item-comments {
  background-color: inherit;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
}

.news-section__item-comments:hover {
  text-decoration: underline;
}

.news-section__item-author:after {
  content: "";
  width: 1px;
  height: 12px;
  position: absolute;
  background-color: #777777;
  margin-left: 10px;
  top: 13px;
}

.news-section__content-item-date {
  background-color: #203E38;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

.news-section__content-item-link:hover .news-section__news-item figcaption{
  color: #18CFAB;
  transition: .3s;
}

.news-section__content-item-link:hover .news-section__content-item-date {
  color: #fff;
  background-color: #18CFAB;
  transition: .3s;
}

.feedback-section {
  background-image: url(../img/backgrounds/slider-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  /* min-height: 50vh; */
  position: relative;
  box-sizing: border-box;
}

.feedback-section--dark-mask{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

.feedback-section__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.feedback-section__title {
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 170px;
  width: 1160px;
}

.feedback-section__title:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -18px;
  margin-left: 262px;
}

.feedback-section__title:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -26px;
  margin-left: -310px;
}

.feedback-section__feedback-content, .slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-content-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #BBBBBB;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.feedback-section__quotes-elem {
  content: "";
  position: absolute;
  width: 44px;
  height: 31px;
  background-image: url(../img/icons/quotes-icon.png);
  left: calc(50% - 22px);
  top: 220px;
}

.feedback-content__author {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18CFAB;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.feedback-content__profession-type {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #BBBBBB;
  margin-bottom: 40px;
}

.feedback-content__author-photo {
  width: 166px;
  height: 166px;
  border-radius: 50%;
  border:12px solid rgba(31, 218, 181, 0.2);
  object-fit: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.feedback-section-slider {
  min-width: 0;
  position: relative;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-list {
  overflow: hidden;
}

.slick-list.draggable {
  max-width: 100%;
}

.slick-arrow {
  width: 31px;
  height: 31px;
  border: 1px solid #BBBBBB;
  font-size: 0;
  position: absolute;
  bottom: 13px;
  transition: .7s;
}

.slick-arrow:hover {
  background-color: #18CFAB;
  transition: .3s;
}

.slick-prev {
  background-color: transparent;
  background-image: url(../img/icons/arrotToLeftIcon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: -480px;
}
.slick-next {
  background-color: transparent;
  background-image: url(../img/icons/arrotToRightIcon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 480px;
}
.slick-dots {
  display: flex;
  width: 360px;
  justify-content: space-between;
}

.slick-dots button {
  width: 60px;
  height: 60px;
  font-size: 0;
  border: 5px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-clip: padding-box;
}

.slick-active {
  position: relative;
  bottom: 10px;
  transition: .7s;
}

#slick-slide-control00 {
  background-image: url(../img/people/person1.jpg);
}

#slick-slide-control01 {
  background-image: url(../img/people/person2.jpg);
}

#slick-slide-control02 {
  background-image: url(../img/people/person3.jpg);
}

#slick-slide-control03 {
  background-image: url(../img/people/person4.jpg);
}

.card {
  width: 285px;
  height: 206px;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}
.front {
  background-color: #fff;
}

.back {
  background-color: #E9EDEF;
  transform: rotateY(180deg);
  border-top: 6px solid #18CFAB;
  display: flex;
  justify-content: center;
  align-items: center;
}


.stop-icon {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #18CFAB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stop-icon__square {
  width: 12px;
  height: 12px;
  background-color: #18CFAB;
}

.previews-hover__link-icon {
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #18CFAB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 43px;
  height: 43px;
}

.hover-icons__wrapper {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}

.previews-hover__title {
  color: #18CFAB;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
}

.previews-hover__subtitle {
  color: #8A8A8A;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(360deg);
}

.stop-icon:hover {
  background-color: #18CFAB;
  transition: .5s;
  cursor: pointer;
}

.stop-icon:hover .stop-icon__square{
  background-color: #fff;
  transition: .5s;
}

.previews-hover__link-icon:hover {
  background-color: #18CFAB;
  transition: .5s;
  cursor: pointer;
}

.previews-hover__link-icon:hover .previews-hover__icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7486%) hue-rotate(209deg) brightness(109%) contrast(103%);
}

.unactive {
  display: none;
}

.best-images {
  padding-top: 100px;
  padding-bottom: 70px;
}

.best-images__title {
  margin-bottom: 115px;
}

.best-images__title:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -18px;
  margin-left: 133px;
}

.best-images__title:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #18CFAB;
  bottom: -24px;
  margin-left: -253px;
}

.images-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 52px;
  width: 1160px;
}

.images-gallery__item {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
}
.big-item{
  margin-bottom: 15px;
}

.images-gallery__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1%);
  background-color: rgba(0,0,0, .7);
  display: flex;
  justify-content: left;
  align-items: center;
  opacity: 0;
  transition: .4s;
}

.images-gallery__item--hover:hover .images-gallery__item-hover {
  transition: .4s;
  opacity: 1;
}

.images-gallery__item-picture.custom {
  width: 378px;
}

.gallery-pictures__item {
  width: 25px;
  height: 25px;
  background-color: #14B9D5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-pictures__item.big {
  width: 45px;
  height: 45px;
}

.gallery-pictures__item.big:nth-child(1) {
  margin-right: 10px;
  margin-left: 40px;
}

.gallery-pictures__item:nth-child(1) {
  margin-right: 10px;
  margin-left: 20px;
}

.gallery-pictures__item:hover {
  cursor: pointer;
  background-color: #1699b1;
}

.images-gallery__composite-item {
  width: 378px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-between;
}

.footer {
  height: 80px;
  width: 100%;
  background-color: #22353F;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AEAEAE;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}

.best-images__loadmore-btn {
  margin: 0 auto;
}